*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navigator{
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(17, 17, 17, 0.7);
    font-size: 20px;
    font-weight: 700;
}
header ul{
    display: flex;
    align-items: center;

}
header ul> li{
    position: relative;
    list-style: none;
    margin: 17px 0 0 20px;
    padding: 0 0 20px 0;
    cursor: pointer;
    transition: color 0.4s ease-in;
}
header ul> li:hover{
    color: black;
}
.categories{
    display: none;
    color: black;
    position: absolute;
    top: 46px;
    left: -340px;
    width: 800%;
    height: 270px;
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
}
header ul> li:hover .categories{
    display: block;
}
header ul> li:focus .categories{
    display: block;
}
/* .container{
    height: 600vh;
} */
/*
=====================
 Custom Scrollbar
=====================
*/
::-webkit-scrollbar {
    width: 0.90rem;
  }
  ::-webkit-scrollbar-track {
    background: rgb(173, 173, 173);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(17, 17, 17, 0.7);
  }
  